/*  your css code here. If applicable */
 #box{
        height: 200px;
        width: 200px;
        background-color: lightblue;
        border: 2px solid black;
        color: purple;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        place-items: center; 
 }
}