/*  your css code here. If applicable */
 #box{
        height: 200px;
        width: 200px;
        background-color: lightblue;
        border: 2px solid black;
       
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
 }
#box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
    margin: 0;
}
