/*  your css code here. If applicable */
body{
            display: flex;      
            justify-content: center; 
            align-items: center; 
             height: 100vh;      
        }
#box{
        height: 200px;
        width: 200px;
        background-color: lightblue;
        align-content: center;
        text-align: center;
        border: 2px solid black;
        color: purple;
        }